.card-body {
  background-color: white;
  border-radius: 7px;
  padding: 12px;
  box-shadow: 5px 10px 8px #888888;
  margin: 24px;
  width: calc(50% - 48px);
  display: inline-block;
}

#mediaCarousel {
  margin-top: 0;
  margin-bottom: 24px;
  display: block;
}

.jumbotron {
  margin-bottom: 0 !important;
}

body {
  background-color: lightgrey !important;
}
